*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    padding-right: 30px;
    color: white;
    background-color: none;
    text-decoration: none;
}

#login{
    padding-right: 30px;
}
nav{
    padding: 30px !important;
}

.container-fluid{
    justify-content: space-evenly;
    gap: 30rem;
    font-size: large;
    color: white !important;
    font-weight: 500;
}

.navbar-brand{
    font-size: xx-large;
    font-weight: bold;
}

ul{
    list-style-type: none;
}